.DS_Store
.Rproj.user
code/ORhealth.R
.Rhistory
*.html
data/analysis/
data/interim/
data/transformed/

paper/*.aux
paper/*.bbl
paper/*.bcf
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out
paper/*.run.xml
paper/*.toc
paper/main.pdf
master-thesis.pdf
